@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');
html {
    font-family: 'Roboto', 'sans-serif';
}

body {
    background-color: lightgray; /* makes background color into old and reputable looking website */
}
  
h1 {
    color: hsla(120,100%,25%,0.8);
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

* {
    margin: 5px 5px 5px 5px;
}

.ASCII {
    border-width: 1.5cm;
    border-color: #3b8003;
    border-style: dashed;
    border-radius: 50px;
    text-align: center;
    font-weight: 1000;
    font-size: 0.5in;
    padding-top: 60px;
    padding-bottom: 1px;
    padding-right: 20px;
    padding-left: 5px;
}

li.toc {
    font: 2rem 'Time New Roman', 'serif';
}

li.toc.important {
    font-weight: 1000;
}
/* 
   U
   C
   S
   D
*/
#education {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
}

#ucsdlogo {
    text-align: center;
    display: block;
    margin: auto;
}

a[href *=".com"]{
    color: rgba(255, 0, 0, 0.5);
}

pre:hover {
    color: #fff;
    background-color: black;
}

video:focus {
    width: 150vh;
    height: 85vh;
}

h1, h2, h3 {
    font-family: 'Arial', sans-serif;
}

footer p {
    font-size: small;
}

nav > h3 {
    color: hsl(240, 100%, 50%);
    font-size: 3em;
}

label ~ input {
    color: rgb(7, 216, 7);
    padding: 5px 5px 5px 15px;
}

li:first-of-type + li {
    font-size: medium;
}

#math {
    text-decoration: orange wavy underline;
    font-size: 30px;
}

picture:hover {
    display: none;
}

#email {
    display: inline-block; 
}